*{
    padding: 0;
    margin: 0;
    
    background-color: rgba(214, 214, 214, 0.096);
    box-sizing: border-box;
    
}
.container{
    
    background-image: linear-gradient(#52525254,#0501054d)
                        , url(hi.jpg);
    background-position: center;
    
}
.container p {
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    color: rgb(140, 32, 190);
    font-weight: 800;
    font-style: italic;
    background-color: rgba(214, 214, 214, 0);
}
.book-form{
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    width: 450px;
    height: auto;
    /* border: 2px solid #06cc31; */
    background-color: #FFFFFF;
    margin: 3% auto 0;
    padding: 20px;
    
}
.book-form input{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.486);
    background-color: #FFFFFF;
    
    height: 40px;
    margin: 5px auto;
}
.book-form .repass{
    margin: 10px 0;
}
.book-form .id{
    margin: 10px 0;
}
.book-form .pass{
    margin: 10px 0;
}
.book-form .success{
    margin: 30px 0 0 0;
    color: whitesmoke;
    background-color: rgba(113, 26, 153, 0.884);
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
}
.book-form .cancel{
    margin: 10px 0;
    color: whitesmoke;
    background-color: rgba(113, 26, 153, 0.884);
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
}

.book-form .pbt{
    width: 28%;
    margin: 10px 0;
    color: whitesmoke;
    background-color: rgba(113, 26, 153, 0.884);
    cursor: pointer;
}

.book-form .year{
    margin: 10px 0;
    width: 32%;
}
.book-form .month{
    width: 33%;
    height: 40px;
    background-color: #FFFFFF;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.411);
}
.book-form .day{
    width: 32%;
}
.book-form .gender{
    margin: 10px 0;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.411);
    cursor: pointer;
    background-color: #FFFFFF;}

.book-form .phone{
    width: 70%;
    height: 40px;
    margin: 10px 0;
}

.book-form .email{
    margin: 10px 0;
    height: 40px;
}
.book-form .korea{
    margin: 10px 0;
    height: 40px;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.411);
    cursor: pointer;
}