@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;

}
header{
    height: auto;
    border: 3px solid;
}
.logo{
    
    height: 0;
    cursor: pointer;
    /* border: 3px solid blue; */
}

.logo img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.top-menu{
    position: fixed;
    width: 100%;
    

}
.top-menu ul{
    /* position: fixed; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    /* border: 2px solid blue; */
    height: 70px;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 5px 5px rgb(175, 175, 175);
}
.top-menu li{
    /* border: 3px solid yellow; */
    float: left;
    padding: 1%;
    width: 120px;
    font-weight: 800;
    
}
.top-menu li a:hover, .top-menu ul li:hover a{
    /* background: rgb(31,31,31); */
    color:#ff5f5f;
    text-decoration:none;
    }

.top-menu li:hover ul{
    display:block;
    }
    
.top-menu li ul{
    background: rgb(160, 160, 160);
    display:none; 
    height:auto;
    border:0px;
    position:absolute;
    width:auto;
    z-index:200;
    float: left;
    /*top:1em;
    /* left:0; */
    }
.top-menu p{
        clear:left;
        }

.top-menu li ul a{
    width: 100%;
    margin:0px;
    padding: 5%;
    text-align:center;
}


.list-menu:hover{
    background-color: #ffffff;
    cursor: pointer;
    border: 1px solid ;
}
.txt{
    position: absolute;
    top: 30%;
    left: 20%;
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 1px 1px rgb(131, 131, 131);
}
.txt2{
    position: absolute;
    top: 35%;
    left: 20%;
    color: white;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px black;
}
    

.cities-img{
    width: 100%;
    height: 950px;
    background-image: url(cities.jpg);
    background-repeat: no-repeat; /* 배경이미지X */
    background-size: cover; /* 요소를 비율에 맞게 커버 */
    background-position: center; /* 이미지를 요소의 정가운데로 처리 */
    background-attachment: fixed; /* 스크롤바 움직일때 이미지가 따라다님 */
}
.nav-menu{
    display: flex;
    background-color: #16335abd;
    justify-content: space-around;
}

.menu{
    display: inline-block;
    margin: 0px 10px;
    padding: 10px 8px;
    font-weight: 800;
    font-size: 19px;
    float: left;
    text-align: center;
}

.lay1{
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 500px;
    background-color: white;
    /* border: 2px solid; */
}
.lay1 h1{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 0;
}
.lay1 p {
    text-align: center;
    margin: 0 0;
}
.lay1 p span{
    font-weight: 800;
    font-size: 30px;
    color: rgba(21, 56, 255, 0.719);
}
.count{
    
    display: flex;
    justify-content: space-around;
    margin: 0 700px;
    margin-top: 50px;
}
.title{
    text-align:center;
    display:block;
    font-size: 20px;
    color: #3f527c;
    margin-bottom:10px
}  
.number {
    display:block;
    font-family: 'Staatliches', cursive;
    text-align:center;
    font-size: 50px;
    width:150px;
    height:150px;
    line-height:150px;
    margin: 0 auto;
    
    color: #ffc444;
    box-shadow: 5px 3px 2px rgb(116, 116, 116);
    border:3px solid #3f79f6;
    border-radius: 50%;
    border-style: dashed;
    text-shadow: 5px 5px #16335abd, 8px 8px #284d8ed0, 11px 11px 3px #4D8CBF, 14px 14px #5fa8d9c7;
}

.lay2{
    
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: #ebebeb;
    
}
.lay2 img{
    width: 130px;
    height: 130px;
    
    margin: 50px 50px;
}
.lay2 p{
    margin-top: 10px;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;   
}
.under{
    margin: 20px 0;
    width: 100%;
    height: 400px;
    background-image: url(footer.jpg);
    background: linear-gradient(to right, rgba(255, 236, 64, 0.349), rgba(255, 192, 203, 0.425));


}

.under p{
    text-align: left;
    padding: 2%;
    margin-left: 40px;
    line-height: 60px;
    font-weight: 400;
    font-size: 40px;
    color: rgb(0, 0, 0);
}
.under .ob{
    float: left;
    width: 250px;
    height: 100px;
    background-color: #ffffffd5;
    /* border: 3px solid rgb(11, 125, 255); */
    border-style: ridge;
    margin: 50px 50px;
}
.ob p{
    margin-left: 50px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(73, 73, 73);
}
.ob a{
    text-align: right;
    text-decoration: none;
    color: #2f54a3;
}
.ob img{
    margin: 5px 0;
    margin-left: 10px;
    position: absolute;
    width: 40px;
    height: 40px;
}
.swiper-wrapper{
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid ;
}
.swiper-slide img{
    width: 100%;
    height: 1000px;
    background-size: cover;
}












.footer{
    width: 100%;
    height: 150px;
    background-color: #2c2c2c;
    margin: 10px auto;
}
.footer .list{
    text-align: center;
    line-height: 60px;
    margin: 10px 10px;
}
.footer p{
    font-size: 14px;
    color: rgba(177, 177, 177, 0.808);
    margin-left: 10px;
}
.footer .EC{
    color: #3f79f6;
}

.footer .list a{
    text-decoration: none;
    color: rgb(177, 177, 177);
    margin: 0 10px;
}





