body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .form-wrapper {
    width: 500px;
    height: auto;
    margin: 100px auto;
    background-color: #e3e6f0;
    padding: 3%;
  }
  
  .form-wrapper h3 {
    text-align: center;
  }
  
  .form-wrapper input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
  }
  .email-box {
    text-align: center;
  }
  .email-box span {
    font-size: 20px;
  }
  .email-box input {
    width: 40%;
  }
  .email-box select {
    width: 40%;
    height: 30px;
  }
  
  .join-btn {
    text-align: center;
  }
  
  .join-btn button {
    cursor: pointer;
    color: #fff;
    padding: 2%;
    font-size: 20px;
    background-color: #1cc88a;
    border: 0;
  }
  
  input[type='checkbox'] {
    height: 15px;
  }
  .question-box {
    text-align: center;
    margin-bottom: 10px;
  }
  .question-box input {
    width: 30%;
  }