@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Hey{
    position: relative;
    width: 100%;
    height: 980px;
    background-color: rgba(153, 196, 96, 0.623);
    /* border-bottom: 2px solid rgb(255, 196, 225); */
    /* background-image: url(벚꽃.png); */
    background-repeat: no-repeat; 
    /* 배경이미지X */
    background-size: cover; /* 요소를 비율에 맞게 커버 */
    background-position: center; /* 이미지를 요소의 정가운데로 처리 */
    background-attachment: fixed; /* 스크롤바 움직일때 이미지가 따라다님 */
}

.Hey h1 {
    position: absolute;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: white;
    top: 45%;
    left: 40%;
    font-family: 'Rock Salt', cursive;
}

.Hey img{
    position: absolute;
    width: 100%;
    height: 970px;
    object-fit: cover;
    
}
.category{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;

}
.item{
    margin: 30px;
    position: relative;
    width: 450px;
    height: 300px;
    border: 1px solid;
}
.title{
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    width: auto;
    margin-bottom: 5PX;
    color: rgb(100, 133, 58);
    border-bottom: 1px solid ;
}

.item img{
    display: block;
    height: 266px;
    object-fit: cover;
    width: 100%;
    
}





/* 플렉스카드 button 꾸미기 */
.item button{
    position: absolute;
    right: 5%;
    bottom: 5%;
    padding: 10px;
    background-color: rgba(185, 211, 125, 0.61);
    border-radius: 10px;
}

button{
    background:#ffffff;
    color:rgb(255, 255, 255);
    border:none;
    position:relative;
    height:50px;
    font-size:20px;
    padding:5px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    text-shadow: 1px 1px 3px rgb(100, 133, 58);
}
button:hover{
    background:#fff;
    color:rgb(100, 133, 58);
}
button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:8px;
    width:0;
    background: rgba(255, 192, 203, 0.863);
    transition:400ms ease all;
    border-radius: 5px;
}
button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
}
