
    *{
        background-color: rgb(255, 255, 255);
        
    }
    .banner p{
        font-size: 50px;
        display: block;
        margin: 30px ;
        text-align: center;
        font-weight: 1000;
        color: #003de6;
        font-style: italic;
    }
    #topMenu{
        height: 30px;
        width: 850px;
        margin: 0 auto;
    }
    #topMenu ul li {                       
        list-style: none;         
        color: white;            
        background-color: #2d2d2d;
        float: left;               
        line-height: 50px;         
        vertical-align: middle;    
        text-align: center;        
}

    .menu{
        text-decoration: none;
        color: #003de6;
        display: block;
        width: 150px;
        font-size: 12px;
        font-weight: bold;
        
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .menu:hover{
        color: aqua;
        background-color: #2d2d2d;
    }

    .animal{
        display: block;
        margin: 50px auto;
        height: 350px;
        width: 650px;
    }
    
    .meli{
        float: left;
        position: relative;
        display: block;
        width: 200px;
        margin-right: 50px;
        margin-top: 30px;
        background-color: #ffffff00;
        font-weight: bold;
        border: 3px bold;
        cursor: pointer;
        
    }

    .mainbt{
        text-align: center;
    }
    .emon{
        width: 150px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .emon:hover{
        border-radius: 50%;
    }

    .slide-div {
        position: fixed;
        left: 0px;
        top: 10px;
        width: 200px;
        height: 100%;
        background: #bdbdbd;
        color: #000000;
        /* 글씨색깔 */
      }
      
      .button-div {
        position: fixed;
        left: 120px;
        top: 30px;
        width: 70px;
        height: auto;
        background: #0036c9;
      }
      
      .button-open {
        width: 0px;
        height: 0px;
        border-top: 10px solid transparent;
        border-right: 20px solid #0f304e;
        border-bottom: 10px solid transparent;
        margin: 15px 40px;
      }
      
      .button-close {
        width: 0px;
        height: 0px;
        border-top: 10px solid transparent;
        border-left: 20px solid #0f304e;
        border-bottom: 10px solid transparent;
        margin: 15px 40px;
      }

      
    
    