@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}
header{
    position: relative;
    width: 100%;
    height: 792px;
    background-image:  linear-gradient(#19002e41,#16002ba1)
                , url(main.jpg);
    background-position: center;
    background-size: cover;
    
}
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-around;
    
}
.nav .img{
    background-color: rgba(255, 255, 255, 0.342);
    width: 150px;
    height: 110px;
    
}
.nav-links ul li{
    list-style:none;
    display: inline-block;
    margin: 0px 10px;
    padding: 10px 8px;
    font-weight: 800;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.nav-links ul li:hover{
    background-color: rgba(156, 130, 187, 0.568);
    border: 1px solid white;
    transition: 1.5s;
}

.nav-links ul li a{
    text-decoration: none;
    color: white;

}
.txt{
    position: absolute;
    top: 35%;
    left: 50%;
    
    
}
.bt{
    display: flex;
    padding: 8px;
    margin: 120px 0%;
    font-size: 25px;
    font-weight: 800;
    border-style: double;
    border-radius: 10px;
    text-decoration-line: none;
    color: white;

    
}
.bt:hover{
    background-color: rgba(33, 0, 77, 0.39);
    border: 4px solid  rgba(255, 255, 255, 0.63);
    transition: 1s;
}
.txt h1{
    color: rgba(51, 0, 80, 0.493);
    font-size: 60px;
    font-family: 'Festive';
    text-shadow: #fafafa 0px 3px 3px;
}
.txt p{
    margin: 10px;
    font-size: 20px;
}
.logo{
    position: absolute;
    height: 100px;
    left: 10%;
    top: 1%;
}
.half-highlight{
    /* 얇은 형광팬 */
    background: linear-gradient(to top, #f6dfff7a 30%, transparent 70%);
    border-radius: 10px;

}
.card-container{
    display: flex;
    width: 1300px;
    height: 400px;
    margin: 40px auto;
    padding: 10px;
}

.item{
    position: relative;
    height: 100%;
    flex: 1;
    padding: 10px;
    color: rgb(0, 0, 0);
    transition: 0.45s;
}
.item:hover{
    flex-grow: 2.5;
    
}

.item:hover .caption{
    display: block;
}

.item:nth-child(1){
    background-color: rgba(137, 111, 150, 0.616);
}
.item:nth-child(2){
    background-color: rgba(96, 77, 105, 0.616);
}
.item:nth-child(3){
    background-color: rgba(54, 44, 59, 0.616);
}
.item:nth-child(4){
    background-color: rgba(22, 18, 24, 0.616);
}
.amu{
    margin: 50px;
    text-align: center;
    font-size: 13px;
    color: rgba(80, 64, 12, 0.671);
}
.flo1{
    position: absolute;
    bottom: 0%;
    width: 150px;
}
.flo2{
    position: absolute;
    bottom: 0%;
    width: 145px;
    left: 0%;
    
}
.flo3{
    position: absolute;
    bottom: 0%;
    width: 170px;
}
.flo4{
    position: absolute;
    bottom: 0%;
    width: 200px;
}